/* table toggle controls */
.vc-toggle-wrapper.hidden {
    display: none;
}

.table-select-ctrl {
    position: relative;
    width: 100%;
    padding: 15px;
    background: #f6f7f8;
    border-bottom: 1px solid #e0e4e9;
}

.table-select-ctrl p,
.table-select-ctrl select {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
}

.table-select-ctrl select {
    margin-left: 25px;
    padding: 7px 5px 7px 5px;
}
